@charset "UTF-8";

body {
	font-family: Tahoma, Verdana, sans-serif;
	color: #333;
	margin: 0 auto;
	min-width: 768px;
	max-width: 1024px;
}
/* Arrange the SECTION and the ASIDE elements side-by-side in columns */
main {
	display: flex;
	flex-direction: row;
}
/* Make the SECTION column a bit wider than the ASIDE column */
main section {
	width: 60%;
}
main aside {
	width: 40%;
}
